<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * *git commit -m "Initial commit"
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <button (click)="showGreeting()">Bonjour</button><br>
  <input type="text" [(ngModel)]="enteredText">
  <button (click)="extractText()">Ajouter</button>
  <button (click)="deleteLastItem()">Supprimer</button>
  <button (click)="toggleRandomColoring()">{{ buttonLabel }}</button>
  <button (click)="toggleSortingMode()">{{ sortingModeLabel }}</button>
  <ul>
    <li *ngFor="let item of listItems; let i = index" [ngStyle]="{ 'color': getColor(i) }">{{ item.text }}</li>
  </ul>
  <router-outlet></router-outlet>
  
  




